$gold: #ffd700;
$gray-lightest: #f8f8f8;
$turquoise: #88C9CC;
$orange: #D46A5A;

$font-family-sans-serif: "Roboto", sans-serif;

$headings-font-weight: 400;
$line-height-base: 1.65;

$footer-border: darken($gray-lightest, 6.5%);

$padding-huge: 5rem;
$padding-big: 3rem;
